.marked,
aside.some-aside p {
    color: rgba(57, 39, 163, 0.5);
}


div + p {
    color: red;
}

p:hover {
    color: red;
}


p::before {
    content: "<";
    color: green;
    
}

p::after {
    content: ">";
    color: green;
}

span.first {
    color: red;
}